header {
    .subMenu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 25px;
      box-shadow: 2px 8px 10px -5px rgba(0, 0, 0, 0.61);
      background: #8fd8d2;
    }

    .main-header {
      justify-content: center;
      display: flex;
      padding: 15px;
    }
  }