$input-background: #df744a;
$border-color: black;
$input-color:white;

.form-style {
  display: flex;
  input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid $border-color;
    width: 100%;
    padding: 15px;
  }
  input[type="submit"] {
    margin-top: 25px;
    padding: 8px;
    border: none;
    width: 100%;
    background: $input-background;
    color: $input-color;
  }
}
